body{
  margin: 0;
  min-height: 100vh;
  background-image: url("mist");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  color: #8c2f87;
  font-family: "verdana", serif;
}


.layout{
  display: flex;
  min-height: 100vh;
}

.sidebar{
  width: 220px;
  padding: 16px;
  position: sticky;
  top: 0;
  height: 100vh;
}

.sidebar a{
  display: block;
  padding: 10px 12px;
  margin-bottom: 8px;
  text-decoration: none;
  border-radius: 10px;
}

.content{
  flex: 1;
  padding: 20px;
}
.dropdown-content {
  display: none;
  margin-left: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  cursor: pointer;
  display: block;
  padding: 10px 12px;
}


.center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 100px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 20px;
  letter-spacing: 4px;
}
p {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}
h2 {
    font-size: 40px;
    margin-left: 20px;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;

  backdrop-filter: blur(8px);
  background: rgba(200, 211, 200, 0.4);

  z-index: -1;
}

.big-photo {
  max-width: 1200px;
  margin: 40px auto;
}

.big-photo img {
  width: 100%;
  max-width: none;
  height: auto;
  display: block;
}


figure {
  margin: 40px 0;
  text-align: left;
  max-width: 400px;
}

figure img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
}

.side-caption {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin: 40px auto;
  max-width: 1200px;
}

.side-caption img {
  width: 400px;
  height: auto;
  border-radius: 12px;
  flex-shrink: 0;
}

.side-caption figcaption {
  flex: 1; 
  font-size: 20px;
  opacity: 1;
}



